<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="icon" href="images/homepage.ico">

<head>
  <meta charset="utf-8">
  <title>Review</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">ECE GRUBHUB REVIEWS</p>
      </div>

    </div>
  </nav>

  <body>
    <div class="container">
