<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Restaurants Menu </title>
    <link rel="icon" href="images/homepage.ico">
    <link rel="stylesheet" href="/css/restaurant.css">
  </head>
  <body style="margin:0px;">

    <div class="main">
      <h1 style= "text-align: center; margin: 0 auto 0 auto;font-family:Comic Sans MS; color:white;position:relative;top:40px;left:-120px;;"
      > Restaurants</h1>
      <div class='restaurant-1'>
        <a href="/order" style="text-decoration:none"><h1 style="position:relative;left:50px;top:10px;color:#3D3C42;">Rutgers ECE Fast Food</h1></a>


      </div>

      <div class='restaurant-2'>
        <a href="#" style="text-decoration:none"><h1 style="position:relative;left:50px;top:10px;color:white;">Restaurant Two</h1></a>

      </div>

      <div class='restaurant-3'>
        <a href="#" style="text-decoration:none"><h1 style="position:relative;left:50px;top:10px;color:white;">Restaurant Three</h1></a>

      </div>

      <div class='restaurant-4'>
        <a href="#" style="text-decoration:none"><h1 style="position:relative;left:50px;top:10px;color:white;">Restaurant Four</h1></a>

      </div>

    </div>
  </body>
</html>
