<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="icon" href="images/homepage.ico">
    <link rel="stylesheet" href="/css/about.css">
  </head>
  <body>
    <div class="main" style="width:100%,height:800px;">
      <div class="top">
        <h1 style= "text-align: center; margin: 0 auto 0 auto; font-size: 30px; width: 15%; font-family: cursive; color:white ;position:relative;top:5px;left:5px;"
        >ECE GrubHub Vision</h1>
        <h1 style= "text-align: center; margin: 0 auto 0 auto; color:white ;position:relative;top:5px;left:5px;"
        >We aim to provide speedy delivery and affordable food for hungry Rutgers ECE students!(Coupons available for Rutugers Students)
        </h1>
      </div>

      <div class="Bottom">
        <h1 style= "text-align: center; margin: 0 auto 0 auto; font-size: 30px; width: 15%; font-family: cursive; color:white ;position:relative;top:5px;left:5px;"
        >ECE GrubHub Core Values</h1>
        <h1 style= "text-align: center; margin: 0 auto 0 auto; color:white ;position:relative;top:5px;left:5px;"
        >Engineering is hard! Don't waste time on cooking. Use Rutgers ECE Grubhub APP!
        </h1>
      </div>
      </div>


    </div>
  </body>
</html>
