<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="images/homepage.ico">
    <link rel="stylesheet" href="css/profile.css">
    <title>Profile</title>
  </head>
  <body>
    <h1>Hello</h1>
   <input type="text" id="firstname" name="firstname"  maxlength="24" required >

   <form action="/profile" method="POST">
    <button type="submit" >Order Now</button >
   </form>
   
    
  </body>
</html>
