<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="images/homepage.ico">
    <link rel="stylesheet" href="css/profile.css">
    <title>Hi</title>
  </head>
  <body>
    <h1>Hello</h1>
    <form action="/logout" method="DELETE">
       <button type="submit" >Log Out</button>
    </form>

  </body>
</html>
