<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="images/homepage.ico">
    <link rel="stylesheet" href="css/profile.css">
    <title>Profile</title>
  </head>
  <body>
    <form action="/profile" method="get">
      <h1>Hello <%= name%></h1> 
    </form>

    <form action="/logout" method="delete">
      <button type="submit">Log Out!</button>
    </form>
    

   
   
    
  </body>
</html>
