<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Restaurants Menu </title>
    <link rel="icon" href="images/homepage.ico">
    <link rel="stylesheet" href="/css/restaurant.css">
  </head>
  <body style="margin:0px;">
    <form class="/resturants"  method="get">
      <div class="box" id:"heading">
      <h1> ECE GRUBHUB RESTAURANT</h1>
      </div>

      <div class="box">
        <% for (let i=0;i<newListItems.length; i++){ %>
          <div class="item">
            <p> <%= newListItems[i] %> </p>
            <a href=<%= actionVal %> ><%= newListItems[i] %></a>

          </div>
       <% } %>
      </div>
    </form>


  </body>
</html>
