<!DOCTYPE html>
<html>
  <head>
    <title>Vendor Register Page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
      html, body {
      min-height: 100%;
      }
      body, div, form, input, select, p {
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 16px;
      color: #eee;
      }
      body {
      background: url("/uploads/media/default/0001/01/b5edc1bad4dc8c20291c8394527cb2c5b43ee13c.jpeg") no-repeat center;
      background-size: cover;
      }
      h1, h2 {
      text-transform: uppercase;
      font-weight: 400;
      }
      h2 {
      margin: 0 0 0 8px;
      }
      .main-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 25px;
      background: #395144;
      }
      .left-part, form {
      padding: 25px;
      }
      .left-part {
      text-align: center;
      }
      .fa-graduation-cap {
      font-size: 72px;
      }
      form {
      background: #256D85;
      }
      .title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      }
      .info {
      display: flex;
      flex-direction: column;
      }
      input, select {
      padding: 5px;
      margin-bottom: 30px;
      background: transparent;
      border: none;
      border-bottom: 1px solid #eee;
      }
      input::placeholder {
      color: #eee;
      }
      option:focus {
      border: none;
      }
      option {
      background: black;
      border: none;
      }
      .checkbox input {
      margin: 0 10px 0 0;
      vertical-align: middle;
      }
      .checkbox a {
      color: #26a9e0;
      }
      .checkbox a:hover {
      color: #85d6de;
      }
      .btn-item, button {
      padding: 10px 5px;
      margin-top: 20px;
      border-radius: 5px;
      border: none;
      background: #26a9e0;
      text-decoration: none;
      font-size: 15px;
      font-weight: 400;
      color: #fff;
      }
      .btn-item {
      display: inline-block;
      margin: 20px 5px 0;
      }
      button {
      width: 100%;
      }
      button:hover, .btn-item:hover {
      background: #85d6de;
      }
      @media (min-width: 568px) {
      html, body {
      height: 100%;
      }
      .main-block {
      flex-direction: row;
      height: calc(100% - 50px);
      }
      .left-part, form {
      flex: 1;
      height: auto;
      }
      }
    </style>
  </head>
  <body>
    <div class="main-block">
      <div class="left-part">
        <h1>Register To ECE GrubHUb</h1>

      </div>
      <form action="/vendor/createRestaurant" method="POST">
        <div class="title">
          <h2>Register your Restaurant</h2>
        </div>
        <div class="info" style="height:480px;">
          <input class="fname" type="text" name="restaurantname" placeholder="Restaurant Name">

          <input type="text" name="productOneName" placeholder="Product One Name" style="width:150px;" required>
          <input type="text" name="productOnePrice" placeholder="Product One $$$" style="width:120px;position:relative;left:200px;bottom:60px;" required>
          <input type="text" name="productOneImageurl" placeholder="Product One Image URL" style="width:270px;position:relative;left:380px;bottom:120px;" required>

          <input type="text" name="productTwoName" placeholder="Product Two Name" style="width:150px;position:relative;bottom:110px;" required>
          <input type="text" name="productTwoPrice" placeholder="Product Two $$$" style="width:120px;position:relative;left:200px;bottom:170px;" required>
          <input type="text" name="productTwoImageurl" placeholder="Product Two Image URL" style="width:270px;position:relative;left:380px;bottom:230px;" required>

          <input type="text" name="productThreeName" placeholder="Product Three Name" style="width:150px;position:relative;bottom:220px;" required>
          <input type="text" name="productThreePrice" placeholder="Product Three $$$" style="width:130px;position:relative;left:200px;bottom:280px;" required>
          <input type="text" name="productThreeImageurl" placeholder="Product Three Image URL" style="width:270px;position:relative;left:380px;bottom:340px;" required>

          <input type="text" name="productFourName" placeholder="Product Four Name" style="width:150px;position:relative;bottom:330px;" required>
          <input type="text" name="productFourPrice" placeholder="Product Four $$$" style="width:130px;position:relative;left:200px;bottom:390px;" required>
          <input type="text" name="productFourImageurl" placeholder="Product Four Image URL" style="width:270px;position:relative;left:380px;bottom:450px;" required>


          <input type="text" name="productFiveName" placeholder="Product Five Name" style="width:150px;position:relative;bottom:440px;" required>
          <input type="text" name="productFivePrice" placeholder="Product Five $$$" style="width:130px;position:relative;left:200px;bottom:500px;" required>
          <input type="text" name="productFiveImageurl" placeholder="Product Five Image URL" style="width:270px;position:relative;left:380px;bottom:560px;" required>

          <input type="text" name="productSixName" placeholder="Product Six Name" style="width:150px;position:relative;bottom:550px;" required >
          <input type="text" name="productSixPrice" placeholder="Product Six $$$" style="width:130px;position:relative;left:200px;bottom:610px;" required>
          <input type="text" name="productSixImageurl" placeholder="Product Six Image URL" style="width:270px;position:relative;left:380px;bottom:670px;" required>

        </div>

        <button type="submit"  >Submit</button>
      </form>
    </div>
  </body>
</html>
