
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    size
  }
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }

  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
