.main{
  height: 840px;
  width: 100%;
  background-color: #2C3333;
}
.restaurant-1{
  height:320px;
  width: 600px;
  background-color: #C98474;
  position: relative;
  left:70px;
  top:60px;
}
.restaurant-2{
  height:320px;
  width: 600px;
  background-color: #874C62;
  position: relative;
  left:760px;
  top:-280px;
}
.restaurant-3{
  height:320px;
  width: 600px;
  background-color: #2B4865;
  position: relative;
  left:70px;
  top:-280px;
}
.restaurant-4{
  height:320px;
  width: 600px;
  background-color:#355764;
  position: relative;
  left:760px;
  top:-620px;
}
